In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

'''
A database is a structured collection of data that is organized and stored for efficient retrieval, manipulation, and management. It is designed to provide a way to store, manage, 
and retrieve large amounts of data easily.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems (DBMS) that differ in their data models, query languages, and underlying
principles.

SQL Databases:
structured or tabular data model
uses sql query as standard
rigid structure and constraints must be fulfilled when a particular data is entered
ACID transactions
scalable

NoSQL Databases:
flexible and allows un-structured or semi structured data storage
different query language based on type of database
no fixed constraints or structure as such
eventual consistency
scalable

'''

In [ ]:
'''
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
'''

'''
DDL is Data Definition language which is used to create, alter or delete the structure of the table.

CREATE: used to create table
DROP: used to delete table permanently with its data.
ALTER: alter is used to alter the columns, constraints or other attributes of table.
TRUNCATE: used to remove all data from the table while preserving the table structure.
'''

In [ ]:
'''
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
'''
'''
DML is Data Manipulation Language.
used for managing and manipulating data within a database.

Insert: add new records or rows in table.

Update: modify existing record.

Delete: used to delete records from table.
'''

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.

'''
Data Query Language
used for querying and retrieving data from the database.
consists of select statement.


SELECT Name, Age FROM Students WHERE Grade = 10;
'''

In [ ]:
#Q5. Explain Primary Key and Foreign Key.
'''
A primary key is a column or a set of columns in a database table that uniquely identifies each record or row in that table. It serves as a unique identifier.


A foreign key is a column or a set of columns in a database table that establishes a relationship between two tables. It refers to the primary key of another table and represents the 
"foreign" end of the relationship. The foreign key constraint ensures referential integrity, meaning it enforces that the values in the foreign key column(s) of one table correspond 
to the values in the primary key column(s) of another table.
'''

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
'''
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)

mycursor=mydb.cursor()
mycursor.execute("Show databases")
for x in mycursor:
    print(x)
mydb.commit()
mydb.close()
'''
'''
cursor(): The cursor() method creates a cursor object that allows you to execute SQL queries and fetch data from the result set. The cursor acts as a handle for interacting with the 
database.

execute(): The execute() method is used to execute an SQL query or command. You pass the query as a string parameter to the execute() method. It can be a SELECT, INSERT, UPDATE, DELETE,
or any other SQL statement. The execute() method performs the query on the MySQL database.
'''

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

'''
SELECT
FROM
JOIN
WHERE
GROUP BY
HAVING
ORDER BY
LIMIT/OFFSET
'''